body { 
    background-color: rgb(66, 66, 66);
    text-align: center; padding: 150px; 
}

h1 {
    color: blanchedalmond;
     font-size: 50px; 
     text-align: center;
}

body {
     font: 20px Helvetica, sans-serif; color: #333; 
}

article {
     display: block; text-align: center; width: 650px; margin: 0 auto; 
     color: whitesmoke;
}

p{
    padding-top: 5rem;
}


img{
    width: 10rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}